* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 68.5%;
  /* font-family: ; */
  /* font-family: "Courier New", Courier, monospace; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}
:root {
  --background-color-1: #e0e2e5;
  --background-color-2: #e6e6e6;
  --primary-color: #5c5c5c;
  --secondary-color: #39cccc;
  --tertiary-color: #288f8f;
  --fourth-color: #000;
  --option-input: #fff;
  --option-border: rgba(40, 143, 143, 0.3);
  --filler-color: #bfdddd;
}
body {
  background-color: var(--background-color-1);
}
